### WARMUP SECTION:


LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [1]:
def myfunc(num1,num2):
    if (num1 % 2==0) & (num2 % 2==0):
        return min(num1,num2)
    else:
        return max(num1,num2)

In [5]:
myfunc(8,1)

8

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(word):
    w1,w2 = word.split()
    if w1[0].lower() == w2[0].lower():
        return True
    else:
        return False

In [10]:
animal_crackers('Levelheaded Olama')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    sum = n1+n2
    if (n1==20)|(n2 ==20)|(sum==20):
        return True
    else :
        return False

In [17]:
makes_twenty(10,21)

False

### LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [29]:
def caps(word):
    result = ''
    count = 0
    for letter in word:
        if (count == 0)|(count==3):
            result += letter.upper()
        else:
            result += letter
        count += 1
        
    return result

In [30]:
caps('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])

>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])

>>> "Hello world"

In [80]:
def reverse(word):
    words = word.split()[::-1]
    print(words)
    result =' '
    return result.join(words)

In [83]:
reverse('Hello, I am Naresh')

['Naresh', 'am', 'I', 'Hello,']

'Naresh am I Hello,'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [86]:
def almost_there(num):
    if (num in range(90,111)) | (num in range(190,211)):
        return True
    else:
        return False

In [94]:
almost_there(201)

True

### Level 2 Problems

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [98]:
def has_33(list1):
    index =0
    for num in list1:
        if num == 3:
            if list1[index+1] ==3:
                return True
        index +=1
    else:
        return False

In [106]:
has_33([2,33,3,3,9,7,8,2])

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [108]:
def paper_doll(word):
    result = ''
    for letter in word:
        result += 3*letter
    return result

In [110]:
paper_doll('Hello')

'HHHeeellllllooo'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 

If their sum exceeds 21 and there's an eleven, reduce the total sum by 10.
Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [131]:
def black_jack(n1,n2,n3):
    sum = n1+n2+n3
    if sum <= 21:
        return sum
    elif (n1==11|n2==11|n3==11):
        sum -= 10
        if sum <=21:
            return sum
        else:
            return "BUST"
    else:
        return 'BUST'

In [134]:
black_jack(11,11,10)

'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [144]:
def summer_69(mylist):
    sum = 0
    check_69 = 0
    for num in mylist:
        if num == 6:
            check_69 = 1
            
        if check_69 == 0:
            sum += num
        else:
            if num==9:
                check_69 = 0
            else:
                continue
    return sum

In [149]:
summer_69([1,2,3,4,5,6,6,666,6,6,6,6,69,7,8,9,8,9,1])

33

### CHALLENGING PROBLEMS

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
    
 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True
    
 spy_game([1,7,2,0,4,5,0]) --> False

In [157]:
def spy_game(mylist):
    index =0
    for num in mylist:
        if num ==0:
            if mylist[index+1] == 0:
                if mylist[index+2]==7:
                    return True
        index += 1
    else:
        return False

In [161]:
spy_game([1,7,2,0,4,5,0,0,'7',0,0,0,8,9,4,3,0,0,6])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [180]:
def count_primes(num):
    count =0
    for n in range(2,num+1):
        for i in range(2,n):
            if (n%i==0):
                print("not prime")
                break
        else:
            print(f"prime:{n}")
            count+=1
    return count

In [181]:
count_primes(9)

prime:2
prime:3
not prime
prime:5
not prime
prime:7
not prime
not prime

4

Just for fun:

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')


out:   *  
      * *
     *****
     *   *
     *   *
     
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [2]:
def print_big(var):
    def print_a():
        print("  *  \n * * \n*****\n*   *\n*   *")
    def print_b():
              print("****\n*   * \n**** \n*   * \n****")
            
    map_dict = {'a':print_a,'b':print_b} 
    
    return map_dict[var]()

In [3]:
print_big('b')

****
*   *
****
*   *
****