In [1]:
"""Hello!!!
This is great
You can type anything you want
"""

'Hello!!!\nThis is great\nYou can type anything you want\n'

In [23]:
list1 = list({1,2,3,4,5,6,7,8})
list2 = [6,7,8,9,10,]
var = 'Hello...'
list3 = list(var)

print(list1,type(list1))
print(list2,type(list2))
print(list3,type(list3))

[1, 2, 3, 4, 5, 6, 7, 8] <class 'list'>
[6, 7, 8, 9, 10] <class 'list'>
['H', 'e', 'l', 'l', 'o', '.', '.', '.'] <class 'list'>

In [11]:
list_seg = list1[2:4]
list_seg2 = list1[4]
print(list_seg,list_seg2)

[3, 4] 5

In [19]:
tup = tuple(list3)
print(tup)
tup1 = tup[5]
tup = ('H','E','L','L','O','!','!','!')
print(tup1)
print(tup)

('H', 'e', 'l', 'l', 'o', '.', '.', '.')
.
('H', 'E', 'L', 'L', 'O', '!', '!', '!')

In [48]:
dictionary = zip(list3,list1)
dict_1 = dict(dictionary)
dict_2 = {"Naresh":23,"sunil":24,"Kalyan":22}

print(dict_1,dict_2)
print(dict_2["Naresh"])

dict_2["Ragha"] = 25
for name,age in dict_2.items():
    print(f"{name} is {age} years old.")
  

dict_2["Ragha"] = 23
print(dict_2)

#ListComprhension
age_print = [print(f"{name} is {age} years old.") for name,age in dict_2.items()]

{'H': 1, 'e': 2, 'l': 4, 'o': 5, '.': 8} {'Naresh': 23, 'sunil': 24, 'Kalyan': 22}
23
Naresh is 23 years old.
sunil is 24 years old.
Kalyan is 22 years old.
Ragha is 25 years old.
{'Naresh': 23, 'sunil': 24, 'Kalyan': 22, 'Ragha': 23}
Naresh is 23 years old.
sunil is 24 years old.
Kalyan is 22 years old.
Ragha is 23 years old.

In [44]:
for N in range(2,21):
    for i in range(2,N):
        if N%i == 0:
            print(f"{N} is not a prime number")
            break
    else:
        print(f"{N} is a prime number")

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number

In [51]:
#List_Comprehensions
print([x*2 for x in range(10)])

#with conditions
print([x*2 for x in range(10) if x%2 ==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 8, 12, 16]

In [53]:
friends = ["Naresh","Kalyan","Sunil","Ragha"]
guests= {'NARESH','KALYAN'}
time_since_seen = (2,3,6,9)

#Dictionary comprehensions
long_timers = {friends[i]:time_since_seen[i] for i in range(len(friends)) if time_since_seen[i]>5}
print(long_timers)

{'Sunil': 6, 'Ragha': 9}

In [60]:
#Set_Comprehensions
friends = set(friends)
friends_l = { name.lower() for name in friends}
guests_l = { name.lower() for name in guests}

guest_friends = friends_l.intersection(guests_l)
print(guest_friends)

{'kalyan', 'naresh'}

# Functions

In [6]:
#Function Greet

name = input("Enter Your Name:")

def Greet(person = "Friend"):
    
    print(f"Hello !!! {person}")

#First Order Functions
Hello = Greet
Hello(name)

Enter Your Name:Naresh
Hello !!! Naresh

In [4]:
#Lambda Function
(lambda x,y:x/y)(6,2)

3.0

# Classes

In [101]:


class Student:
    
    def __init__(self,name,grade):
        self.name = name
        self.grades = grade
    
    def average(self):
        return sum(self.grades)/len(self.grades)
 
    
Student_1 = Student('Naresh',[80,82,71,65,88])
Student_2 = Student("Sunil",[82,92,61,60,91])
print(f"Average of {Student_1.name} is :{Student_1.average()}\nAverage of {Student_2.name} is:{Student_2.average()}")

Average of Naresh is :77.2
Average of Sunil is:77.2

In [26]:
class Working_Student(Student):
    
    def __init__(self,name,grade,salary):
        super().__init__(name,grade)
        self.salary = salary
        
kalyan = Working_Student("Kalyan",[84,95,63,66,78],14)
print(f"{kalyan.name} has {kalyan.average()} average and gets {kalyan.salary}K as a salary")

Kalyan has 77.2 average and gets 14K as a salary

In [70]:
#Class and Static methods
class Student:
    
    def __init__(self,name,grade):
        self.name = name
        self.grades = grade
        
    @classmethod   #self/cls is a default argument .self.grades throws error
    def average(self,grades):
        return sum(grades)/len(grades)
    
    @staticmethod  #arguments must be passed
    def introduce(name):
        msg = f"Hi!!! My name is {name}"
        return msg
    
class Working_Student(Student):
    
    def __init__(self,name,grade,salary):
        super().__init__(name,grade)
        self.salary = salary
        

    
naresh_grades = [80,82,71,65,88]
sunil_grades = [82,92,61,60,91]
kalyan_grades = [84,95,63,66,78]

Student_1 = Student('Naresh',naresh_grades)
Student_2 = Student("Sunil",sunil_grades)
print(Student_1.introduce('Naresh'),Student_2.introduce("Sunil"),sep='\n')
print(f"Average of {Student_1.name} is :{Student_1.average(naresh_grades)}\nAverage of {Student_2.name} is:{Student_2.average(sunil_grades)}")

kalyan.introduce("Kalyan")
#cant execute static method from another class if it is inherited
    
kalyan = Working_Student("Kalyan",kalyan_grades,14)
print(f"{kalyan.name} has {kalyan.average(kalyan_grades)} average and gets {kalyan.salary}K as a salary")

Hi!!! My name is Naresh
Hi!!! My name is Sunil
Average of Naresh is :77.2
Average of Sunil is:77.2
Kalyan has 77.2 average and gets 14K as a salary

In [100]:
class My_Custom_Error(ValueError):
    def __init__(self,wrong_value):
        super().__init__(f"Invalid Value : {wrong_value}")
        
    
 
try:
    raise My_Custom_Error()
except TypeError:
    print(f"ValueError \n{My_Custom_Error(45)}")
else:
    raise My_Custom_Error('45')

ValueError
Invalid Value : 45

# Generator

In [116]:
def gen_number():
    x=[1,2,3,4,5]
    for i in x:
        yield i**2

result = gen_number()
next(result)

1

4

In [3]:
3/5

0.6

In [7]:
list1 = [1, 3]
list2 = list1[:]

In [8]:
list1[0] = 4
print(list2)

[1, 3]